%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 arithmetic operation
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p A typical arithmetic operation takes two numbers and produces a new number.
        %p#demo
        :javascript
          var x = 100 + 50;
          document.getElementById("demo").innerHTML = x;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        A typical arithmetic operation takes two numbers and produces a new number
        \&lt;/p&gt;
        \&lt;p id="demo"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x = 100 + 50;
        document.getElementById("demo").innerHTML = x;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 arithmetic operation +
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p A typical arithmetic operation takes two numbers (or variables) and produces a new number
        %p#demo1
        :javascript
          var a1 = 100;
          var b1 = 50;
          var x1 = a1 + b1;
          document.getElementById("demo1").innerHTML = x1;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        A typical arithmetic operation takes two numbers (or variables) and produces a new number.
        \&lt;/p&gt;
        \&lt;p id="demo1"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var a1 = 100;
        var b1 = 50;
        var x1 = a1 + b1;
        document.getElementById("demo1").innerHTML = x1;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 arithmetic  expressions
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p A typical arithmetic operation takes two numbers (or expressions) and produces a new number.
        %p#demo3
        :javascript
          var a3 = 3;
          var x3 = (100 + 50) * a3;
          document.getElementById("demo3").innerHTML = x3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        A typical arithmetic operation takes two numbers (or expressions) and produces a new number
        \&lt;/p&gt;
        \&lt;p id="demo3"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var a3 = 3;
        var x3 = (100 + 50) * a;
        document.getElementById("demo3").innerHTML = x3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The + Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        The + Operator
        \&lt;/p&gt;
        \&lt;p id="demo4"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x4 = 5;
        var y4 = 2;
        var z4 = x4 + y4;
        document.getElementById("demo4").innerHTML = z4;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::



/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The - Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 The - Operator
        %p#demo5
        :javascript
          var x5 = 5;
          var y5 = 2;
          var z5 = x5 - y5;
          document.getElementById("demo5").innerHTML = z5 ;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 The - Operator
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        The - Operator
        \&lt;/p&gt;
        \&lt;p id="demo5"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x5 = 5;
        var y5 = 2;
        var z5 = x5 - y5;
        document.getElementById("demo5").innerHTML = z5 ;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The * Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 The * Operator
        %p#demo6
        :javascript
          var x6 = 5;
          var y6 = 2;
          var z6 = x6 * y6;
          document.getElementById("demo6").innerHTML = z6;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        The * Operator
        \&lt;/p&gt;
        \&lt;p id="demo6"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x6 = 5;
        var y6 = 2;
        var z6 = x6 * y6;
        document.getElementById("demo6").innerHTML = z6;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The / Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 The / Operator
        %p#demo7
        :javascript
          var x7 = 5;
          var y7 = 2;
          var z7 = x7 / y7;
          document.getElementById("demo7").innerHTML = z7;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        The / Operator
        \&lt;/p&gt;
        \&lt;p id="demo6"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x7 = 5;
        var y7 = 2;
        var z7 = x7 / y7;
        document.getElementById("demo7").innerHTML = z7;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The % Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 The % Operator
        %p#demo8
        :javascript
          var x8 = 5;
          var y8 = 2;
          var z8 = x8 % y8;
          document.getElementById("demo8").innerHTML = z8;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        The % Operator
        \&lt;/p&gt;
        \&lt;p id="demo6"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x8 = 5;
        var y8 = 2;
        var z8 = x8 % y8;
        document.getElementById("demo8").innerHTML = z8;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The ++ Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 The ++ Operator
        %p#demo9
        :javascript
          var x9 = 5;
          x9++;
          var z9 = x9;
          document.getElementById("demo9").innerHTML = z9;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;The -- Operator
        \&lt;/p&gt;
        \&lt;p id="demo9"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x9 = 5;
        x9++;
        var z9 = x9;
        document.getElementById("demo9").innerHTML = z9;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 The -- Operator
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %h1 The -- Operator
        %p#demo10
        :javascript
          var x10 = 5;
          x10--;
          var z10 = x10;
          document.getElementById("demo10").innerHTML = z10;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;h1&gt;The -- Operator&lt;/h1&gt;
        \&lt;p id="demo"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        var x10 = 5;
        x10--;
        var z10 = x10;
        document.getElementById("demo10").innerHTML = z10;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 * has recedence over +
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p Multiplication has precedence over addition.
        %p#demo11
        :javascript
          document.getElementById("demo11").innerHTML = 100 + 50 * 3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        Multiplication has precedence over addition
        \&lt;/p&gt;
        \&lt;p id="demo"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        document.getElementById("demo").innerHTML = 100 + 50 * 3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 the * has precedence over +
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p Multiplication has precedence over addition.
        %p But parenthesis has precedence over multiplication.
        %p#demo12
        :javascript
          document.getElementById("demo12").innerHTML = (100 + 50) * 3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;Multiplication has precedence over addition&lt;/p&gt;
        \&lt;p&gt;But parenthesis has precedence over multiplication&lt;/p&gt;
        
        
        \&lt;p id="demo"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        document.getElementById("demo").innerHTML = (100 + 50) * 3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::


/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ ----------------------  start  ------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
#cont
  #head
    %h1 computed from left to right
#rot
  %article
    %h2 Resultado
    %div
      %h3 Ejemplo
      / ------ start text ------
      #very
        / ::::::::::::::::::::::::::::::::::::::::::::::
        %p When many operations has the same precedence, they are computed from left to right.
        %p#demo13
        :javascript
          document.getElementById("demo13").innerHTML = 100 + 50 - 3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        / ------ end text --------
  %article
    %h2 Codigo
    %div
      %h3 HTML
      / ------ start text ------
      %pre#gray
        \&lt;body&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;p&gt;
        When many operations has the same precedence, they are computed from left to right
        \&lt;/p&gt;
        \&lt;p id="demo"&gt;&lt;/p&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/body&gt;
      / ------ end html --------
      %hr/
      / ------ begin --------
      %h3 JS
      / ------ start js --------
      %pre#gray
        \&lt;script&gt;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        document.getElementById("demo").innerHTML = 100 + 50 - 3;
        / ::::::::::::::::::::::::::::::::::::::::::::::
        \&lt;/script&gt;
%hr/
%hr/
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::
/ -----------------------  end  -------------------------
/ ::::::::::::::::::::::::::::::::::::::::::::::::::::::::

